@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
}

.ql-editor{
  font-size: 1.05rem;
}

main{
  font-family: "Noto Sans", sans-serif;
  
}

.post-content p{
  margin-bottom:0.5rem ;
  font-weight: 400 !important;
  line-height: 1.7;
  opacity: 0.8;
}

.post-content h1{
  font-family: "Syne", sans-serif;
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  margin: 1.5rem 0 ;
}

.post-content h2{
  font-family: "Syne", sans-serif;
  font-size: 1.4rem !important;
  font-weight: 600 !important; 
  margin: 1.5rem 0;
}

.post-content a{
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover{
  text-decoration: underline;
}

.dark .post-content a{
  color: rgb(244, 119, 119);
}

.post-content pre {
  background-color: #1e293b;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
  white-space: pre-wrap;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

#hero-image {
  background-image: url(./assets/main.png);
  background-position: bottom left;
  background-position-x:-200px ;
	background-size: cover;
	background-repeat: repeat-x;
	width: 100%;
}
